
browserExtension/.DS_Store

.DS_Store

*.iml

browserExtension/.idea/compiler.xml

browserExtension/.idea/copyright/profiles_settings.xml

browserExtension/.idea/encodings.xml

browserExtension/.idea/modules.xml

browserExtension/.idea/misc.xml

browserExtension/.idea/vcs.xml

browserExtension/.idea/workspace.xml
